.training-day-column {
    margin-bottom: 20px;
  }
  
  .time-slots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 10px;
    height: 200px; /* Set a fixed height */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  
  .time-slot {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
  }
  